table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 12px;
    table-layout: fixed;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width: 30%;
    word-wrap: break-word;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
    text-align: left;
    width: 33%;
    word-wrap: break-word;
  }
  