
<h4>Stories Form</h4>
<!-- <div class="body container">
    
      <table class="table">
        <thead>
          <tr >
            <th scope="col" style="background-color: rgb(158, 213, 235);"><h3>Title</h3></th> 
            <th scope="col" style="background-color: rgb(158, 213, 235);"><h3>URL</h3></th> 
            <th scope="col" style="background-color: rgb(158, 213, 235);"><h3>
                Link
            </h3></th>           
          </tr>
        </thead>
        <tbody>
          
          <tr>
            <th scope="row" >{{title}}</th>
            <th scope="row" >{{url}}</th>            
            <th>
                <a href="{{url}}" target="_blank">clik</a>
               
            </th>
          </tr>
        </tbody>
      </table>

      <table class="table">
        <thead>
          <tr>
            <th style="background-color: rgb(158, 213, 235);"><h3>story</h3></th>  
            <th style="background-color: rgb(158, 213, 235);"><h3>Link</h3></th>            
          </tr>
        </thead>
        <tbody>
          
          <tr *ngFor="let item of this.clsStories.stories">
            <th scope="row" >{{item}}</th>
            <th scope="row" ><input type="submit" (click)='fetchStories(item)' value="click to show the title and link"></th>
            
          </tr>
        </tbody>
      </table>
    
    <input type="submit" (click)='clickMe()' value="Submit">
  
</div> -->
<div class="body container">
<input type="submit" (click)='clickMe()' value="Submit">
<div ngbAccordion [closeOthers]="true" *ngFor="let item of this.clsStories.stories , track item">
		<div ngbAccordionItem [collapsed]="flag">
			<h2 ngbAccordionHeader>
				<button ngbAccordionButton (click)='fetchStories(item)'>{{ item }}</button>
			</h2>
			<div ngbAccordionCollapse>
				<div ngbAccordionBody *ngIf="id==item">
					<ng-template >           
						<table class="table" >
              <thead>
                <tr >
                  <th scope="col" style="background-color: rgb(158, 213, 235);"><h3>stories</h3></th> 
                  <th scope="col" style="background-color: rgb(158, 213, 235);"><h3>Title</h3></th> 
                  <th scope="col" style="background-color: rgb(158, 213, 235);"><h3>URL</h3></th> 
                  <th scope="col" style="background-color: rgb(158, 213, 235);"><h3>
                      Link
                  </h3></th>           
                </tr>
              </thead>
              <tbody>
                
                <tr>
                  <th scope="row" >{{id}}</th>
                  <th scope="row" >{{title}}</th>
                  <th scope="row" >{{url}}</th>            
                  <th>
                      <a href="{{url}}" target="_blank">clik</a>
                   
                  </th>
                </tr>
              </tbody>
            </table>
					</ng-template>
				</div>
			</div>
		</div>

</div>
</div>