<!DOCTYPE html> 
<html> 
  <head> 
  
  </head> 
  <body> 
    <ul> 
      <!-- <li><a class="active" href="#home" routerLink="/">Home</a></li>  -->
      <!-- <li><a href="#InsertALLRecordsCahesComponent" routerLink="/InsertALLRecordsCahesComponent">InsertALLInCaches</a></li>  -->
      <li><a href="#ViewStories" routerLink="/ViewStories" class="btn btn-secondary  active">ViewStories</a></li> 
      <!-- <li><a href="#InsertStories" routerLink="/InsertStories">InsertStories</a></li>  -->
      
      
    </ul> 
    
    <div style="text-align: center; font-weight: bolder; font-size: 50px"> 
      <router-outlet>
       
      </router-outlet> 
     
    </div> 



  </body> 
</html>
